// ---------------------------------------------- //
// SSDS post-process wpipeline default config file     //
// ---------------------------------------------- //
// Default config options for all environments.

params {
	// PIPELINE DEPENDANCIES
	src = "${baseDir}/src"
	multiqc_configfile = "${baseDir}/multiqc_config.yaml"

	// GENERAL PARAMETERS
	name = "SSDS_postprocess_pipeline"
	sample_name = "2021_FIRE_DMC1"
	publishdir_mode = "copy"

	// OUTPUT PARAMETERS
	outdir = "${baseDir}/${params.name}.outdir/postprocess"
	
	//WEB KEYS PARAMETERS
	tower_token='db33ecd8b1cc2e1b39972b4d82614d379b84f878' // attached to pauline auffret tower account.
}

// PROFILES PARAMETERS
profiles {
  conda {
    process.conda = "${baseDir}/environment.yml"
    conda.createTimeout = '5 h'
  }
  singularity {
    process.container = "${baseDir}/singularity.img"
    singularity.enabled = true
    singularity.autoMounts = true
  }
}

//NEXTFLOW REPORT PARAMETERS
report {
   enabled = true
   file = "${params.outdir}/nxfReports/report.html"
}
 
timeline {
    enabled = true
    file = "${params.outdir}/nxfReports/timeline.html"
}

trace {
   enabled = true
   file = "${params.outdir}/nxfReports/trace.txt"
}

manifest {
   name = 'SSDS post-process pipeline'
   author = 'Pauline Auffret'
   homePage = 'https://gitlab.igh.cnrs.fr/pauline.auffret/ssdspostprocess'
   description = 'Computes and Plots general statistics about SSDS processed data, 2021.'
   mainScript = 'main.nf'
   nextflowVersion = '>=20.04.1'
   version = '1.0'
}

dag {
   enabled = true
   file = "${params.outdir}/nxfReports/dag.png"
}

tower {
  accessToken = params.tower_token
  enabled = false
}


