/*
 * -------------------------------------------------
 *  Nextflow config file for processes options
 * -------------------------------------------------
 * Defines general paths for input files and
 * parameters for samba processes
 */


params {
        // PIPELINE DEPENDANCIES
        src = "${baseDir}/src"
        multiqc_configfile = "${baseDir}/multiqc_config.yaml"
        conda_intervene = "/home/demassyie/work/bin/miniconda3/envs/ssdspostprocess"

        // GENERAL PARAMETERS
        name = "SSDS_postprocess_pipeline"
        sample_name = "DMC1-ChIP"
        publishdir_mode = "copy"

        // OUTPUT PARAMETERS
        outdir = "${baseDir}/${params.name}.outdir/postprocess"
}

